.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
html{
    font-size: calc(100vw / 1920 * 10);
    height: 100%;
}
body{
    font-family: 'Avenir Next', sans-serif;
    font-size: 1.6rem;
    height: 100%;
}
.container{
    width: 100%;
    max-width: 175.2rem;
    margin: 0 auto;
    @media (max-width: 962px){
        padding: 0 6rem;  
    }
}




.main{
    flex: 1 1 auto;
}

@media (max-width: 962px){
    html{
        font-size: calc(100vw / 430 * 10);
    }
    section{
        overflow: hidden;
    }
    header{
        overflow: hidden;
    }
    footer{
        overflow: hidden;
    }
    .container{
        padding: 1.5rem;
    }
}