@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextCyr-Thin.woff2');
    font-style: normal;
    font-display: swap;
    font-weight: 300;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextCyr-Regular.woff2');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextCyr-Medium.woff2');
    font-style: normal;
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextCyr-Bold.woff2');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: 'AI nile';
    src: url('../fonts/alnile.ttf');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}

